<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexa Shop</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

    </head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
        <!-- ***** Header Area Start ***** -->
        {% include "common/header.html" %}
        <!-- ***** Header Area End ***** -->

<!-- banner area start  -->
{% include "common/banner.html" %}
<!-- banner area end -->
{% block body %}
  
{% endblock body %}

<!-- footer area start -->
{% include "common/footer.html" %}
<!-- footer area end -->

 <!-- jQuery -->
 <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

 <!-- Bootstrap -->
 <script src="{% static 'js/popper.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>

 <!-- Plugins -->
 <script src="{% static 'js/owl-carousel.js' %}"></script>
 <script src="{% static 'js/accordions.js' %}"></script>
 <script src="{% static 'js/datepicker.js' %}"></script>
 <script src="{% static 'js/scrollreveal.min.js' %}"></script>
 <script src="{% static 'js/waypoints.min.js' %}"></script>
 <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
 <script src="{% static 'js/imgfix.min.js' %}"></script> 
 <script src="{% static 'js/slick.js' %}"></script> 
 <script src="{% static 'js/lightbox.js' %}"></script> 
 <script src="{% static 'js/isotope.js' %}"></script> 
 
 <!-- Global Init -->
 <script src="{% static 'js/custom.js' %}"></script>

 <script>

     $(function() {
         var selectedClass = "";
         $("p").click(function(){
         selectedClass = $(this).attr("data-rel");
         $("#portfolio").fadeTo(50, 0.1);
             $("#portfolio div").not("."+selectedClass).fadeOut();
         setTimeout(function() {
           $("."+selectedClass).fadeIn();
           $("#portfolio").fadeTo(50, 1);
         }, 500);
             
         });
     });

 </script>

</body>